.form__page {
  width: 100%;
  height: 700px;
}

.form__page-title {
  text-align: center;
  margin: 56px;
  font-size: 36px;
}

.form__home {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  height: 100%;
}

.form__home-label {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__home-input {
  height: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__home-span {
  margin: 24px;
}
