.form__page {
  width: 100%;
  height: 700px;
}

.form__page-title {
  text-align: center;
  margin: 56px;
  font-size: 36px;
}

.form__home {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  align-items: center;
  height: 300px;
}

.form__home-label {
  font-size: 16px;
  align-items: start;
}

.form__home-input {
  height: 15px;
  width: 300px;
  margin-bottom: 8px;
}

.form__home-span {
  margin: 24px;
}
