.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url(../src/images/pexels-pixabay-258149.jpg);
  background-size: cover;
}

.header__title-container {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 100%;
}

.header__title {
  margin: 10px;
  color: rgb(255, 255, 255);
}

.header__logo {
  margin: 8px 4px 8px 17px;
  width: 26px;
  height: 31px;
}

.header__card {
  border-radius: 10px;
  background-color: rgb(142, 139, 139);
  opacity: 0.4;
  width: 650px;
  height: 350px;
  margin: 0px auto 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header__card-search-container {
  margin-bottom: 90px;
}

.header__card-searchbar {
  width: 470px;
  height: 35px;
  border-radius: 16px;
  border: none;
  position: relative;
}

.header__card-search-btn {
  width: 105px;
  height: 35px;
  border-radius: 24px;
  background-color: royalblue;
}
