.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url(../src/images/pexels-pixabay-258149.jpg);
  background-size: cover;
}

.header__title-container {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  /* border-bottom: 2px solid black; */
  width: 100%;
  justify-content: center;
}

.header__title {
  margin: 10px;
  color: rgb(255, 255, 255);
}

.header__logo {
  margin: 10px 8px;
  width: 30px;
  height: 30px;
}
